<!--== Start Testimonial Area ==-->
<section class="testimonial-area testimonial-default-area bgcolor-theme3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4 col-xl-5">
        <div class="title-wrp" data-bg-img="assets/img/testimonial/bg-testi1.jpg" data-aos="fade-right"
          data-aos-duration="1000">
          <div class="section-title">
            <h5 class="subtitle line-white-color text-white mb-7">Sự kiện gần đây</h5>
            <h2 class="title title-style text-white">Mọi người nói gì về chúng tôi. <img class="img-shape"
                src="assets/img/shape/3.png" alt="Image-HEROFUND"></h2>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-7 col-xl-6">
        <div class="testimonial-content" data-aos="fade-up" data-aos-duration="1000">
          <div class="testimonial-slider-content">

            <div class="swiper-container testimonial-slider-container">
              <swiper #swiper [virtual]="true" [slidesPerView]="3" [spaceBetween]="50" [slidesPerView]="1"
                [speed]="1000" [loop]="false" [spaceBetween]="30" [autoplay]="true" [effect]="'fade'"
                [fadeEffect]="{ crossFade: true}">
                <ng-template swiperSlide>
                  <div class="swiper-slide testimonial-single">
                    <div class="client-thumb-wrp">
                      <div class="client-thumb">
                        <img src="assets/img/testimonial/1.png" alt="Image-HEROFUND">
                      </div>
                      <div class="quote-icon">“</div>
                    </div>
                    <div class="client-content">
                      <p>Thật tuyệt vời khi tham gia vào tổ chức, được giúp đỡ mọi người thật hạnh phúc. Tôi yêu công việc này.
                      </p>
                    </div>
                    <div class="client-info">
                      <img class="shape-line-img" src="assets/img/shape/line-t1.png" alt="Image-HEROFUND">
                      <h4 class="name">Nguyên Hoàng</h4>
                      <h6 class="designation">Tình nguyện viên</h6>
                    </div>
                  </div>
                </ng-template>
                <ng-template swiperSlide>
                  <div class="swiper-slide testimonial-single">
                    <div class="client-thumb-wrp">
                      <div class="client-thumb">
                        <img src="assets/img/testimonial/2.png" alt="Image-HEROFUND">
                      </div>
                      <div class="quote-icon">“</div>
                    </div>
                    <div class="client-content">
                      <p>Mọi người hay tham gia với chúng tôi.
                        Chúng ta sẽ cùng nhau giúp đỡ những hoàn cảnh khó khăn nào</p>
                    </div>
                    <div class="client-info">
                      <img class="shape-line-img" src="assets/img/shape/line-t1.png" alt="Image-HEROFUND">
                      <h4 class="name">Oanh Bùi</h4>
                      <h6 class="designation">Tình nguyện viên</h6>
                    </div>
                  </div>
                </ng-template>

              </swiper>
              <!-- Add Arrows -->
              <div class="navigation-wrp">
                <div class="swiper-button-prev" #prev (click)="slidePrev()"><img class="icon-img"
                    src="assets/img/icons/test-arrow-left.png" alt="Image-Icon"></div>
                <div class="swiper-button-next" #next (click)="slideNext()"><img class="icon-img"
                    src="assets/img/icons/test-arrow-right.png" alt="Image-Icon"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== End Testimonial Area ==-->
