<main class="main-content site-wrapper-reveal">
  <!--== Start Page Title Area ==-->
  <app-page-title-area [name]="'Chiến dịch'"></app-page-title-area>

  <!--== End Page Title Area ==-->

  <!--== Start Causes Area ==-->
  <section class="causes-area causes-default-area">
    <div class="container">
      <div class="row mb-5">
        <div class="col-4">
          <div class="widget">
            <h3 class="widget-title">Danh mục quyên góp:</h3>
            <div class="separator-line">
              <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
            </div>
            <div class="widget-category">
              <select class="form-control" [(ngModel)]="category" (change)="changeCategories($event)">
                <option selected value="0">Vui lòng chọn danh mục</option>
                <option
                  *ngFor="let c of categories"
                  value="{{c.id}}"
                  class="form-control"
                >{{c.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="widget">
            <h3 class="widget-title">Từ khóa:</h3>
            <div class="separator-line">
              <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
            </div>
            <div class="widget-category">
              <input class="form-control" [(ngModel)]="keyword" placeholder="Vui lòng nhập từ khóa"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
          <button style="background: #FEA444; margin-right: 10px"
                  class="btn text-white" (click)="btnSearch()" type="button">Tìm kiếm</button>
          <button style="background: #FEA444" class="btn text-white"
                  (click)="reset()" type="button">Xóa</button>
        </div>
      </div>
      <br>
      <hr>

      <div class="row">
        <div *ngIf="campaigns.length == 0; else elseBlock" class="my_no_campaign">
          No Campaigns
        </div>
        <ng-template #elseBlock>
          <div class="col-md-6 col-lg-4" *ngFor="let item of campaigns">
            <div class="causes-item mb-30">
              <div class="thumb">
                <img src="{{item.image}}" alt="Givest-HasTech">
              </div>
              <div class="content">
                <ul class="donate-info">
                  <li class="info-item">
                    <span class="info-title">Mục tiêu:</span>
                    <span class="amount">$ {{item.targetAmount}}</span>
                  </li>
                  <li class="info-item">
                    <span class="info-title">Hiện tại:</span>
                    <span class="amount">$ {{item.currentAmount}}</span>
                  </li>
                  <li class="info-item">
                    <span class="info-title">Số người:</span>
                    <span class="amount">{{item.donations}}</span>
                  </li>
                </ul>

                <h4 class="title"><a routerLink="/causes/{{item.id}}" routerLinkActive="active"
                                     ariaCurrentWhenActive="page">{{item.title}}</a></h4>
                <p class="mb-3">{{item.description}}</p>
                <hr>
                <div class="d-flex mb-3">
                  <div>
                    <img width="50px" style="border-radius: 50%" src="{{item && item.sponsor.image}}" alt="givest">
                  </div>
                  <div class="m-auto" style="margin-left: 10px !important;">{{item && item.sponsor.name}}</div>
                </div>
                <hr>
                <div class="row">
                  <p class="col-md-6" style="margin: 0">
                    <span style="font-weight: 600">Bắt đầu: </span>
                    <span>{{handlerDateTime(item.startDate)}}</span>
                  </p>
                  <p class="col-md-6" style="margin: 0;">
                    <span style="font-weight: 600">Kết thúc: </span>
                    <span>{{handlerDateTime(item.endDate)}}</span>
                  </p>
                </div>
                <hr>
              </div>
              <div class="causes-footer pt-0">
                <div class="admin">
                  <h5>
                    <a routerLink="/causes/{{item.id}}" routerLinkActive="active" ariaCurrentWhenActive="page">
                      <span  class="icon-img"><img src="assets/img/icons/admin1.png" alt="Icon"></span>{{ item.account.username}}
                    </a>
                  </h5>
                </div>
                <a class="btn-theme btn-border-gradient gray-border btn-size-md" routerLink="/causes/{{item.id}}"
                   routerLinkActive="active" ariaCurrentWhenActive="page"><span>Quyên góp
                  <img class="icon icon-img" src="assets/img/icons/arrow-line-right-gradient.png" alt="Icon"></span></a>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </section>
  <!--== End Causes Area ==-->

  <!--== Start Funfact Area ==-->
  <app-counter-up></app-counter-up>
  <!--== End Funfact Area ==-->

  <!--== Start Testimonial Area ==-->
  <app-slide-testimonial></app-slide-testimonial>
  <!--== End Testimonial Area ==-->

  <!--== Start Brand Logo Area ==-->
  <section class="brand-logo-area brand-logo-default-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-4 offset-lg-0 col-xl-4">
          <div class="section-title text-center text-lg-start">
            <h2 class="title title-style mt-xl-30">Our Current Sponsors. <img class="img-shape"
                                                                              src="assets/img/shape/3.png"
                                                                              alt="Image-Givest"></h2>
          </div>
        </div>
        <div class="col-lg-8 col-xl-7 offset-xl-1">
          <div class="brand-logo-content">
            <div class="row row-cols-3 row-cols-sm-5">
              <div class="col" *ngFor="let item of sponsors">
                <div class="brand-logo-item">
                  <img src="{{item.image}}" alt="{{item.name}}">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Brand Logo Area ==-->
</main>
