<div class=" block rounded-lg border-gray-200 md:border md:p-6 md:shadow-lg lg:hidden">
  <h2 class=" hidden flex-auto text-1.5xl font-semibold text-gray-700 md:block" style="margin-bottom: 20px;">Thông
    tin quyên góp</h2>
  <div class="jsx-c5fd4b6feeb6dfd6 dn-detail">
    <div class="jsx-c5fd4b6feeb6dfd6 dn-info mb-2 flex items-end">
      <strong class="jsx-c5fd4b6feeb6dfd6 item-end dn-value flex text-xl font-bold text-gray-700">{{ current}}$</strong>
      <span class="jsx-c5fd4b6feeb6dfd6 flex items-end pl-2 text-sm text-gray-500">quyên góp / {{target }}$</span>
    </div>
    <div class="jsx-c5fd4b6feeb6dfd6 dn-progress my-1 flex h-1.5 w-full overflow-hidden rounded-lg bg-gray-200">
      <div class="dn-progress-bar h-1.5 rounded-lg bg-momo" [style.width]="achieve"
           style="background-color: #fc6539"></div>
    </div>
    <div class="jsx-c5fd4b6feeb6dfd6 dn-time mt-2 flex items-start justify-between text-gray-400">
      <div class="jsx-c5fd4b6feeb6dfd6 ">
        <h4 class="jsx-c5fd4b6feeb6dfd6 text-gray-400" style="font-family: 'Roboto', sans-serif;">Lượt quyên góp
        </h4>
        <p class="jsx-c5fd4b6feeb6dfd6 font-bold text-gray-900">{{ donations }}</p>
      </div>
      <div class="jsx-c5fd4b6feeb6dfd6 ">
        <h4 class="jsx-c5fd4b6feeb6dfd6 text-gray-400" style="font-family: 'Roboto', sans-serif;">Đạt được</h4>
        <p class="jsx-c5fd4b6feeb6dfd6 font-bold text-gray-900">{{ achieve }}
        </p>
      </div>
      <div class="jsx-c5fd4b6feeb6dfd6">
        <h4 class="jsx-c5fd4b6feeb6dfd6 text-gray-400" style="font-family: 'Roboto', sans-serif;">Thời hạn
        </h4>
        <p class="font-bold text-gray-900">{{ endDate }} </p>
      </div>
    </div>
    <div class="jsx-c5fd4b6feeb6dfd6 mt-6 space-y-3">
      <div class="qrtype-1645 w-full md:flex md:items-center " data-qr-id="1645">
        <div *ngIf="isDonate; else elseBlock" class="w-full">
          <button style="background-color: #fc6539; border: none" routerLink="/payment/{{ payment }}"
                  class="btn-primary w-full !text-lg" >Quyên góp
          </button>
        </div>
        <ng-template #elseBlock>
          <button style="background-color: #fc6539; border: none" disabled
                  class="btn-primary w-full !text-lg" >Đã hoàn thành
          </button>
        </ng-template>
      </div>
    </div>

  </div>
</div>
