<section class="funfact-area funfact-default-area">
  <div class="container">
    <div class="row row-gutter-0 funfact-items-style1" data-aos="fade-up" data-aos-duration="1000">
      <div class="col-sm-6 col-md-4 funfact-item">
        <div class="inner-content">
          <div class="icon-box">
            <img class="icon" src="assets/img/icons/f1.png" alt="Image-Givest">
            <img class="shape-img" src="assets/img/shape/4.png" alt="Image-Givest">
          </div>
          <div class="content">
            <div class="number">
              <h2><span class="counter-animate" [countUp]="598" [options]="{ enableScrollSpy: true }">0</span>K</h2>
            </div>
            <img class="line-shape" src="assets/img/shape/funfact-line1.png" alt="Image-Givest">
            <p class="title">// Hoàn cảnh khó khăn</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 funfact-item">
        <div class="inner-content">
          <div class="icon-box">
            <img class="icon" src="assets/img/icons/f2.png" alt="Image-Givest">
            <img class="shape-img" src="assets/img/shape/4.png" alt="Image-Givest">
          </div>
          <div class="content">
            <div class="number">
              <h2><span class="counter-animate" [countUp]="897" [options]="{ enableScrollSpy: true }">0</span>M</h2>
            </div>
            <img class="line-shape" src="assets/img/shape/funfact-line1.png" alt="Image-Givest">
            <p class="title">// Số tiền quyên góp</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 funfact-item">
        <div class="inner-content">
          <div class="icon-box">
            <img class="icon" src="assets/img/icons/f3.png" alt="Image-Givest">
            <img class="shape-img" src="assets/img/shape/4.png" alt="Image-Givest">
          </div>
          <div class="content">
            <div class="number">
              <h2><span class="counter-animate " [countUp]="998" [options]="{ enableScrollSpy: true }">0</span>+
              </h2>
            </div>
            <img class="line-shape" src="assets/img/shape/funfact-line1.png" alt="Image-Givest">
            <p class="title">// Người dùng</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
