<main class="main-content site-wrapper-reveal">
  <!--== Start Page Title Area ==-->
  <app-page-title-area [name]="'Article-detail'"></app-page-title-area>
  <!--== End Page Title Area ==-->

  <!--== Start Event Details Area ==-->
  <section class="blog-details-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="blog-details-column">
            <div class="post-details-content">
              <div class="post-details-body">
                <div class="thumb">
                  <img class="w-100" src="{{article && article.image ? article.image : 'assets/img/blog/g1.jpg'}}" alt="Givest-HasTech">
                </div>
                <div class="content">
                  <div class="meta">
                    <a class="post-category" routerLink="/causes/{{article && article.campaignId}}">
                      {{article && article.campaignTitle}}</a>
                    <p class="post-author mt-3">
                      <span>
                        <img style="width: 30px"
                             src="{{article && article.avatarAccount ? article.avatarAccount : defaultImage}}"
                             alt="Icon-Image">
                      </span>
                      <span class="ml-10">
                        {{article && article.createdBy.toLocaleUpperCase()}}
                      </span>
                    </p>
                    <p>{{handlerTimeCreateAt(article && article.createdAt)}}</p>
                  </div>
                  <h2 class="title">{{article && article.title}}.</h2>
                  <div [innerHtml]="article && article.detail"></div>
                  <hr>
                </div>
                <div class="comment-area" style="padding-top: 15px">
                  <h5 class="title mb-2" style="font-size: 20px">Comments
                    <span>({{responseComment && responseComment.totalElements}})</span></h5>
                  <div class="comment-content">
                    <div *ngIf="comments && comments.length > 0 ;else other_content">
                      <div class="single-comment mt-3" *ngFor="let c of comments">
                        <div class="d-flex">
                          <div class="thumb mr-1">
                            <img style="width: 45px !important;"
                                 src="{{c.avatarAccount ? c.avatarAccount : defaultImage}}" alt="Image">
                          </div>
                          <div class="author-details w-100 comment-author">
                            <p class="name m-0 text-black" style="font-size: 16px; font-weight: 500">{{c.username}}</p>
                            <p style="font-size: 13px; color: #868686"
                               class="p-0 m-0">{{handlerTimeAPostArticle(c.createdAt, 2)}}</p>
                            <p style="font-size: 17px; color: #0e0e0e">{{c.content}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-10"></div>
                        <p class="mt-3 mb-3 col-md-2"
                           style="cursor: pointer; padding-right: 5px"
                           (click)="loadMore()"
                        >Xem thêm</p>
                      </div>
                    </div>
                    <ng-template #other_content>
                      <hr>
                    </ng-template>
                    <div class="d-flex">
                      <div class="thumb mr-1">
                        <img style="width: 45px !important;"
                             src="{{article && article.avatarAccount ? article.avatarAccount : defaultImage}}" alt="Image">
                      </div>
                      <div class="w-100 position-relative">
                        <input [(ngModel)]="content"
                               placeholder="Viết bình luận..."
                               class="form-control input-comment ">
                        <i (click)="submitComment()"
                          class="fa-solid fa-arrow-up-from-bracket position-absolute my-submit-comment"></i>
                        <input class="form-control" hidden [(ngModel)]="id">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="sidebar-area">
              <div class="border-left" style="padding-left: 50px">
                <h4 class="mb-5" style="color: #ff55d0; font-size: 20px">Bài viết liên quan</h4>
                <div class="row">
                  <div *ngFor="let a of articles" class="col-md-12 sidebar-area">
                    <div class="widget custom-widget p-0 " style="border-radius: 10px; background-color: #FFF">
                      <div class="widget-causes-item p-0 box-shadow">
                        <div class="thumb">
                          <img  class="my-image" src="{{a && a.image}}" alt="Givest-HasTech">
                        </div>
                        <div class="content" style="background-color: rgba(255,255,255,0); padding: 10px">
                          <h5 class="title-custom"><a href="/article-detail/{{a && a.id}}">{{a &&
                          a.title}}</a></h5>
                          <p>{{a.description}}</p>
                          <!-- Start Progress Item -->
                          <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                              <a href="/article-detail/{{a && a.id}}">Chi tiết</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="text-center">
                  <a class="btn btn-success " style="background: #fc6539; border: none" routerLink="/causes">Xem tất cả</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Event Details Area ==-->
</main>
