<!--== Start Header Wrapper ==-->
<header class="header-area header-default sticky-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-5 col-sm-3 col-md-3 col-lg-2 pr-0">
        <div class="header-logo-area">
          <a routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img class="logo-main" src="assets/img/logoadmin.png" alt="Logo" />
            <img class="logo-light" src="assets/img/logoadmin.png" alt="Logo" />
          </a>
        </div>
      </div>
      <div class="col-7 col-sm-9 col-md-9 col-lg-10">
        <div class="header-align">
          <div class="header-navigation-area">
            <ul class="main-menu nav justify-content-center">
              <li routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"><a>Trang chủ</a></li>
              <li routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page"><a>Về chúng tôi</a></li>
              <li routerLink="/causes" routerLinkActive="active" ariaCurrentWhenActive="page"><a>Chiến dịch</a></li>
              <li routerLink="/sponsor" routerLinkActive="active" ariaCurrentWhenActive="page"><a>Đối tác đồng hành</a></li>
              <li routerLink="contact-us" routerLinkActive="active" ariaCurrentWhenActive="page"><a>Liên hệ</a></li>
            </ul>
          </div>
          <div class="header-action-area">
            <a *ngIf="!jwt; else elseBlock" routerLink="/login" class="btn-theme btn-gradient btn-slide btn-style">Đăng
              nhập
              <img class="icon icon-img" src="assets/img/icons/arrow-line-right2.png" alt="Icon">
            </a>
            <ng-template #elseBlock>
              <app-profile-menu
              [profile]="profile"
              ></app-profile-menu>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--== End Header Wrapper ==-->
