<section class="blog-grid-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="blog-content-column">
          <div class="blog-content-area post-items-style2">
            <!--== Start Blog Post Item ==-->
            <div *ngIf="articles && articles.length > 0 ;else other_content">
              <div *ngFor="let item of articles" class="post-item mt-3" style="border-radius: 10px">
                <div class="thumb" style="border-top-right-radius: 10px; border-top-left-radius: 10px ">
                  <a routerLink="/article-detail/{{item.id}}"><img src="{{item.image}}" alt="HEROFUND-Blog"></a>
                </div>
                <div class="content" style="border-radius: 10px">
                  <div class="inner-content">
                    <div class="mb-4 row">
                     <div class="col-md-6">
                       <span class="icon">
                        <img width="30px" src="{{item.avatarAccount ? item.avatarAccount : defaultImage}}" alt="Icon-Image">
                      </span>
                       <span class="ml-2 text-gray-600 pt-2">{{item.createdBy.toLocaleUpperCase()}}</span>
                     </div>
                      <div class="col-md-6">
                        <span class="text-gray-600 float-end">{{handlerTimePost(item.createdAt)}}</span>
                      </div>
                    </div>
                    <h4 class="title">
                      <a routerLink="/article-detail/{{item.id}}">{{item.title}}</a>
                    </h4>
                    <p>{{item.description}}</p>
                    <a routerLink="/article-detail/{{item.id}}" class="btn-theme btn-border-gradient btn-size-md">
                      <span>Xem chi tiết
                        <img class="icon icon-img" src="assets/img/icons/arrow-line-right-gradient.png" alt="Icon">
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <p (click)="loadMore()" class="btn btn-success" style="background-color: #fc962f; border: none">Xem thêm</p>
              </div>
            </div>
            <ng-template #other_content>
              <div>Không có bài viết</div>
            </ng-template>
            <!--== End Blog Post Item ==-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

