.error_validate{
  color: red;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.image-custom{
  margin-right: 5px;
  width: 70px;
  border: solid 1px #727272;
}

.sponsor-name{
  margin: auto auto auto 10px;
}
