<main class="main-content site-wrapper-reveal">
  <!--== Start Page Title Area ==-->
  <app-page-title-area [name]="'Về chúng tôi'"></app-page-title-area>
  <!--== End Page Title Area ==-->

  <!--== Start About Area ==-->
  <section class="about-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="section-title">
            <h5 class="subtitle line-theme-color">About Us.</h5>
            <h2 class="title"><span>Givest</span> is The Non Profitable Organization.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="thumb thumb-style">
            <img src="assets/img/about/3.jpg" alt="Image-Givest">
          </div>
        </div>
        <div class="col-lg-8">
          <div class="about-content">
            <p class="text-style">Lorem Ipsum simply dummy text the printing and typesettin industry. Lorem Ipsum has
              been the industry's standard dumm text ever since the unknown.</p>
            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
              been the industry's standard dummy text ever since the 1500s, when and unknown printer took a galley of
              type and scrambled it to make a type specimen book.</p>
          </div>
          <div class="content-box-wrp">
            <div class="row">
              <div class="col-lg-6">
                <div class="content-box-item mb-md-30">
                  <h3 class="title">Mission</h3>
                  <img class="img-line-shape" src="assets/img/shape/line-s1.png" alt="Image-Givest">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
                    standard dummy text ever since 1500 when unknown printer took a galley of type and scram bled it to
                    make a type specimen book.</p>
                  <p class="font-family2 mb-0">Lorem Ipsum simply dummy text the printing & typesetting industry been
                    the industry standard dummy make type specimen book.</p>
                  <img class="bg-line-shape" src="assets/img/shape/line5.png" alt="Image-Givest">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="content-box-item" style="background-color: #fea444;">
                  <h3 class="title">Vission</h3>
                  <img class="img-line-shape" src="assets/img/shape/line-s1.png" alt="Image-Givest">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's
                    standard dummy text ever since 1500 when unknown printer took a galley of type and scram bled it to
                    make a type specimen book.</p>
                  <p class="font-family2 mb-0">Lorem Ipsum simply dummy text the printing & typesetting industry been
                    the industry standard dummy make type specimen book.</p>
                  <img class="bg-line-shape" src="assets/img/shape/line5.png" alt="Image-Givest">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End About Area ==-->

  <!--== Start Team Area ==-->
  <section class="team-area team-fluid-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-xl-4 offset-xl-0">
          <div class="section-title">
            <h5 class="subtitle line-theme-color mb-7">Volunteer Team</h5>
            <h2 class="title title-style">Volunteer Team of Givest. <img class="img-shape" src="assets/img/shape/3.png"
                alt="Image-Givest"></h2>
            <div class="desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry's standard dummy text ever
                since and unknown printer took scrambled it make specimen book.</p>
              <a href="volunteer.html" class="btn-theme btn-gradient btn-slide">Join Now <img class="icon icon-img"
                  src="assets/img/icons/arrow-line-right2.png" alt="Icon"></a>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="team-member-items">
            <div class="swiper-container team-slider-container">
              <div class="swiper-wrapper team-slider">
                <div class="swiper-slide team-member">
                  <div class="thumb">
                    <img src="assets/img/team/1.jpg" alt="Image">
                    <div class="social-icons">
                      <a href="about.html#"><i class="icofont-facebook"></i></a>
                      <a href="about.html#"><i class="icofont-skype"></i></a>
                      <a href="about.html#"><i class="icofont-twitter"></i></a>
                    </div>
                  </div>
                  <div class="content">
                    <div class="member-info">
                      <h4 class="name"><a href="about.html#/">Harvey Harrington</a></h4>
                      <h6 class="designation">Senior Volunteer</h6>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide team-member">
                  <div class="thumb">
                    <img src="assets/img/team/2.jpg" alt="Image">
                    <div class="social-icons">
                      <a href="about.html#"><i class="icofont-facebook"></i></a>
                      <a href="about.html#"><i class="icofont-skype"></i></a>
                      <a href="about.html#"><i class="icofont-twitter"></i></a>
                    </div>
                  </div>
                  <div class="content">
                    <div class="member-info">
                      <h4 class="name"><a href="about.html#/">Alejandra Bobbitt</a></h4>
                      <h6 class="designation">Senior Volunteer</h6>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide team-member">
                  <div class="thumb">
                    <img src="assets/img/team/3.jpg" alt="Image">
                    <div class="social-icons">
                      <a href="about.html#"><i class="icofont-facebook"></i></a>
                      <a href="about.html#"><i class="icofont-skype"></i></a>
                      <a href="about.html#"><i class="icofont-twitter"></i></a>
                    </div>
                  </div>
                  <div class="content">
                    <div class="member-info">
                      <h4 class="name"><a href="about.html#/">Sherika Hankins</a></h4>
                      <h6 class="designation">Senior Volunteer</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Team Area ==-->

  <!--== Start Funfact Area ==-->
  <app-counter-up></app-counter-up>
  <!--== End Funfact Area ==-->

  <!--== Start Testimonial Area ==-->
  <app-slide-testimonial></app-slide-testimonial>
  <!--== End Testimonial Area ==-->

  <!--== Start Brand Logo Area ==-->
  <section class="brand-logo-area brand-logo-default-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-4 offset-lg-0 col-xl-4">
          <div class="section-title text-center text-lg-start">
            <h2 class="title title-style mt-xl-30">Our Current Sponsors. <img class="img-shape"
                src="assets/img/shape/3.png" alt="Image-Givest"></h2>
          </div>
        </div>
        <div class="col-lg-8 col-xl-7 offset-xl-1">
          <div class="brand-logo-content">
            <div class="row row-cols-3 row-cols-sm-5">
              <div *ngFor="let s of sponsor" class="col">
                <div class="brand-logo-item">
                  <img src="{{s.image}}" alt="Image-Givest">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Brand Logo Area ==-->
</main>
