<!--== Start Footer Area Wrapper ==-->
<footer class="footer-area">
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <div class="widget-item">
            <div class="about-widget">
              <a class="footer-logo" routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img src="assets/img/logoadmin.png" alt="Logo">
              </a>
              <p><b>GIVEST NON PROFIT</b> là tổ chức từ thiện nhân đạo, hoạt động độc lập, phi tôn giáo và phi lợi nhuận trên toàn lãnh thổ Việt Nam,
                nhằm kết nối cộng đồng và thực hiện các hoạt động cứu trợ trực tiếp liên quan đến các vấn đề của xã hội</p>
              <div class="widget-total-raised">
                <h4 class="raised-title">Số tiền đã huy động:</h4>
                <div class="raised-amount">$8,965</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <div class="widget-item">
            <h4 class="widget-title line-style">Bộ sưu tập ảnh</h4>
            <div class="widget-gallery">
              <div class="row row-cols-3 row-gutter-10">
                <div class="col">
                  <div class="gallery-item">
                    <img src="assets/img/photos/gallery1.jpg" alt="Givest-HasTech">
                    <a class="icon" href="about.html#/"><i class="icofont-instagram"></i></a>
                  </div>
                </div>
                <div class="col">
                  <div class="gallery-item">
                    <img src="assets/img/photos/gallery2.jpg" alt="Givest-HasTech">
                    <a class="icon" href="about.html#/"><i class="icofont-instagram"></i></a>
                  </div>
                </div>
                <div class="col">
                  <div class="gallery-item">
                    <img src="assets/img/photos/gallery3.jpg" alt="Givest-HasTech">
                    <a class="icon" href="about.html#/"><i class="icofont-instagram"></i></a>
                  </div>
                </div>
                <div class="col">
                  <div class="gallery-item">
                    <img src="assets/img/photos/gallery4.jpg" alt="Givest-HasTech">
                    <a class="icon" href="about.html#/"><i class="icofont-instagram"></i></a>
                  </div>
                </div>
                <div class="col">
                  <div class="gallery-item">
                    <img src="assets/img/photos/gallery5.jpg" alt="Givest-HasTech">
                    <a class="icon" href="about.html#/"><i class="icofont-instagram"></i></a>
                  </div>
                </div>
                <div class="col">
                  <div class="gallery-item">
                    <img src="assets/img/photos/gallery6.jpg" alt="Givest-HasTech">
                    <a class="icon" href="about.html#/"><i class="icofont-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <div class="widget-item menu-wrap-two-column">
            <h4 class="widget-title line-style">Đường dẫn</h4>
            <nav class="widget-menu-wrap">
              <div class="row">
                <div class="col-6 col-sm-6 col-md-6 pr-sm-5">
                  <ul class="nav-menu nav">
                    <li><a href="/about">Về chúng tôi</a></li>
                    <li><a href="/blog">Tin tức</a></li>
                    <li><a href="/conditions">Điều kiện</a></li>
                    <li><a href="/privacy-policy">Chính sách bảo mật</a></li>
                    <li><a href="/document">Tài liệu</a></li>
                  </ul>
                </div>
                <div class="col-6 col-sm-6 col-md-6 pl-sm-5">
                  <ul class="nav-menu nav align-right">
                    <li><a href="/volunteer">Tham gia với chúng tôi</a></li>
                    <li><a href="/profile">Tạo chiến dịch</a></li>
                    <li><a href="/causes">Quyên góp</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!--== Scroll Top Button ==-->
    <div class="scroll-to-top" (click)="onClickOnToTop()"><img src="assets/img/icons/arrow-up-line.png"
        alt="Icon-Image">
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-content">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="widget-copyright text-center">
              <p>© 2023 <span>Givest</span>. Thực hiện bởi <a href="/home">Givest</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-layer">
    <img src="assets/img/shape/footer-line.png" alt="Image-Givest">
  </div>
</footer>
<!--== End Footer Area Wrapper ==-->
