.cause-description{
  color: #7e7e7e;
  font-size: 17px;
}

.cause-start-date{
  margin-top: 5px;
  color: #7e7e7e;
  font-size: 14px;
}

.information-donate{
  color: #000;
}

.title-custom{
  font-size: 20px;
}

.title-custom > a{
  color: #000000;
}

.title-custom > a:hover{
  color: #FEA444;
}
