<main class="main-content site-wrapper-reveal">
  <!--== Start Page Title Area ==-->
  <section class="page-title-area" data-bg-img="assets/img/photos/bg-page-title.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title-content text-center">
            <h2 class="title text-white">Causes Details</h2>
            <div class="bread-crumbs"><a href="index.html">Home<span class="breadcrumb-sep">//</span></a><span
                class="active">Cause</span></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Page Title Area ==-->

  <!--== Start Causes Area ==-->
  <section class="causes-details-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="causes-details-column">
            <div class="causes-details-content">
              <div class="causes-details">
                <div class="thumb">
                  <img class="w-100" src="assets/img/causes/d1.jpg" alt="Image-Givest">
                </div>
                <h3 class="cause-title">Children Education Needs For Change <br>The World.</h3>

                <!-- **Tab here** -->
                <app-tabs>
                  <app-tab [tabTitle]="'Campaign'">
                    <div class="donate-info-wrp">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="donate-info">
                            <li class="info-item">
                              <span class="info-title">Goal:</span>
                              <span class="amount">$ 5,000</span>
                            </li>
                            <li class="info-item">
                              <span class="info-title">Raised:</span>
                              <span class="amount">$ 2,000</span>
                            </li>
                            <li class="info-item">
                              <span class="info-title">To Go:</span>
                              <span class="amount">$ 1,000</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <!-- Start Progress Item -->
                          <div class="progress-item">
                            <div class="progress-line">
                              <div class="progress-bar-line" data-percent="90%"><span class="percent"></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the
                      industry's standard dummy text ever since the 1500 an when an unknown printer took a galley of
                      type
                      and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                      the
                      leap into electronic typesetting, remaining essentially unchanged was popularised in the 1960s
                      with
                      the release of etraset sheets containing Lorem Ipsum passages.</p>
                    <p class="mb-26">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                      Ipsum
                      has been the industry's standard dummy text ever since the 1500 an when an unknown printer took a
                      galley of type and scrambled it to make a type specimen book.</p>
                    <h3>Cause Challenge</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the
                      industry's standard dummy text ever since the 1500 an when an unknown printer took a galley of
                      type
                      and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                      the
                      leap into electronic typesetting, remaining essentially unchanged was popularised in the 1960s
                      with
                      the release of etraset sheets containing Lorem Ipsum passages.</p>
                    <p class="mb-26">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                      Ipsum
                      has been the industry's standard dummy text ever since the 1500 an when an unknown printer took a
                      galley of type and scrambled it to make a type specimen book.</p>
                    <h3>Summery And Documents</h3>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="document-item mb-xs-10">
                          <h4>Documents.pdf</h4>
                          <img src="assets/img/icons/file.png" alt="Icon">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="document-item bgcolor-theme2">
                          <h4>Documents.pdf</h4>
                          <img src="assets/img/icons/file.png" alt="Icon">
                        </div>
                      </div>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the
                      industry's standard dummy text ever since the 1500 an when an unknown printer took a galley of
                      type
                      and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                      the
                      leap into electronic typesetting, remaining essentially unchanged was popularised in the 1960s
                      with
                      the release of etraset sheets containing Lorem Ipsum passages.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the
                      industry's standard dummy text ever since the 1500 an when an unknown printer took a galley of
                      type
                      and scrambled it to make a type specimen book.</p>
                    <p></p>
                  </app-tab>
                  <app-tab tabTitle="Sponsor">
                    <div class="donners-info">
                      <h3>Great Donners</h3>
                      <div class="donners-item">
                        <div class="donner-item">
                          <img src="assets/img/photos/donner1.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner2.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner3.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner4.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner2.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner3.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner5.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner3.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner1.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner2.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner3.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner1.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner2.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item donner-number">+286</div>
                      </div>
                    </div>
                  </app-tab>
                </app-tabs>
                <!-- **Tab here** -->
              </div>


            </div>
            <div class="sidebar-area">
              <div class="widget">
                <h3 class="widget-title">Causes Categories</h3>
                <div class="separator-line">
                  <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
                </div>
                <div class="widget-category">
                  <a href="causes-details.html">Clean Water <span>(18)</span></a>
                  <a href="causes-details.html">Children Education <span>(06)</span></a>
                  <a href="causes-details.html">Healty Food <span>(19)</span></a>
                  <a href="causes-details.html">Food And Water <span>(27)</span></a>
                  <a href="causes-details.html">National Charity <span>(27)</span></a>
                </div>
              </div>
              <div class="widget">
                <h3 class="widget-title">Urgent Causes</h3>
                <div class="separator-line">
                  <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
                </div>
                <div class="widget-causes-item">
                  <div class="thumb">
                    <img src="assets/img/causes/w1.jpg" alt="Givest-HasTech">
                  </div>
                  <div class="content">
                    <h4 class="title"><a href="causes-details.html">Need School For Uganda Poor Children.</a></h4>
                    <ul class="donate-info">
                      <li class="info-item">
                        <span class="info-title">Goal:</span>
                        <span class="amount">$ 5,000</span>
                      </li>
                      <li class="info-item">
                        <span class="info-title">Raised:</span>
                        <span class="amount">$ 2,000</span>
                      </li>
                    </ul>
                    <!-- Start Progress Item -->
                    <div class="progress-item">
                      <div class="progress-line">
                        <div class="progress-bar-line" data-percent="75%"><span class="percent"></span></div>
                      </div>
                    </div>
                    <form action="causes-details.html#">
                      <div class="amount-info">
                        <div class="donate-amount">$20</div>
                        <div class="donate-amount">$35</div>
                        <div class="donate-amount">$48</div>
                        <div class="donate-amount me-0">$90</div>
                        <div class="donate-amount donate-custom-amount">
                          <input class="form-control" type="text" placeholder="Custome Amount">
                        </div>
                      </div>
                      <a class="btn-theme btn-gradient btn-slide" href="causes-details.html#"><span>Donate Now <img
                            class="icon icon-img" src="assets/img/icons/arrow-line-right2.png" alt="Icon"></span></a>
                    </form>
                  </div>
                </div>
              </div>
              <div class="widget mb-0 pb-3">
                <h3 class="widget-title">Popular Tags</h3>
                <div class="separator-line">
                  <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
                </div>
                <div class="widget-tags">
                  <ul>
                    <li><a href="causes-details.html#/">Clean Water</a></li>
                    <li><a href="causes-details.html#/">Education</a></li>
                    <li><a class="style2" href="causes-details.html#/">Health</a></li>
                    <li><a class="style2" href="causes-details.html#/">Medicine</a></li>
                    <li><a href="causes-details.html#/">Poor</a></li>
                    <li><a href="causes-details.html#/">Children</a></li>
                    <li><a class="style2" href="causes-details.html#/">Charity</a></li>
                    <li><a class="style2" href="causes-details.html#/">Non Profit</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Causes Area ==-->
</main>
