<main class="main-content site-wrapper-reveal">
  <!--== Start Page Title Area ==-->
  <app-page-title-area [name]="'Chi tiết chiến dịch'"></app-page-title-area>
  <!--== End Page Title Area ==-->

  <!--== Start Causes Area ==-->
  <section class="causes-details-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="causes-details-column">
            <div class="causes-details-content">
              <div class="causes-details">
                <div class="thumb">
                  <img class="w-100" src="{{campaign && campaign.image}}" alt="Image-Givest">
                </div>
                <h3 class="cause-title">{{campaign && campaign.title}}</h3>
                <div class="cause-description">{{campaign && campaign.description}}</div>
                <div class="cause-start-date">{{campaign && campaign.startDate}}</div>
                <br>
                <!-- **Tab here** -->
                <app-tabs>
                  <app-tab [tabTitle]="'Câu chuyện'">
                    <div class="donate-info-wrp">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="donate-info">
                            <li class="info-item">
                              <span class="info-title">Target:</span>
                              <span class="amount">$ {{campaign && campaign.targetAmount}}</span>
                            </li>
                            <li class="info-item">
                              <span class="info-title">Current:</span>
                              <span class="amount">$ {{campaign && campaign.currentAmount}}</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6"></div>
                      </div>
                    </div>
                    <div [innerHTML]="campaign && campaign.detail"></div>
                  </app-tab>

                  <app-tab [tabTitle]="'Danh sách quyên góp'">
                    <div class="donners-info">
                      <h3>Great Donners</h3>
                      <div class="donners-item">
                        <div class="donner-item">
                          <img src="assets/img/photos/donner1.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner2.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner3.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner4.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner2.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner3.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner5.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner3.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner1.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner2.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner3.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner1.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item">
                          <img src="assets/img/photos/donner2.png" alt="Image-Givest">
                        </div>
                        <div class="donner-item donner-number">+286</div>
                      </div>
                    </div>
                  </app-tab>
                  <app-tab [tabTitle]="'Bài viết'">
                    <p>Hello</p>
                  </app-tab>
                </app-tabs>
                <!-- **Tab here** -->
              </div>


            </div>
            <div class="sidebar-area">
              <div class="widget">
                <h3 class="widget-title">Thông tin quyên góp</h3>
                <div class="separator-line">
                  <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
                </div>
                <div>
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="donate-info">
                        <li class="info-item">
                          <span class="info-title">Mục tiêu:</span>
                          <span class="amount"> ${{campaign &&  campaign.targetAmount}}</span>
                        </li>
                        <li class="info-item">
                          <span class="info-title">Hiện tại:</span>
                          <span class="amount"> ${{campaign && campaign.currentAmount}}</span>
                        </li>
                      </ul>
                      <a class="btn-theme btn-gradient btn-slide" routerLink="/payment/{{campaign && campaign.id}}"><span>Quyên góp <img
                        class="icon icon-img" src="assets/img/icons/arrow-line-right2.png" alt="Icon"></span></a>
                    </div>
                    <div class="col-md-6"></div>
                  </div>
                </div>
              </div>
              <div class="widget">
                <h3 class="widget-title">Đồng hành cùng dự án</h3>
                <div class="separator-line">
                  <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
                </div>
                <div class="widget-category">
                 <div class="row">
                   <div class="col-md-4">
                     <img style="width: 100%" src="{{campaign && campaign.sponsor.image}}">
                   </div>
                   <div class="col-md-8">
                     <h6 style="font-size: 16px">{{campaign && campaign.sponsor.name}}</h6>
                     <p style="font-size: 12px; color: #8d8d8d">{{campaign && campaign.sponsor.description}}</p>
                   </div>

                 </div>
                </div>
              </div>
              <div class="widget">
                <h3 class="widget-title">Danh mục quyên góp</h3>
                <div class="separator-line">
                  <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
                </div>
                <div class="widget-category">
                  <a *ngFor="let c of categories" href="#">{{c.name}}</a>
                </div>
              </div>
              <div class="widget">
                <h3 class="widget-title">Khẩn cấp</h3>
                <div class="separator-line">
                  <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
                </div>
                <div class="widget-causes-item">
                  <div class="thumb">
                    <img src="assets/img/causes/w1.jpg" alt="Givest-HasTech">
                  </div>
                  <div class="content">
                    <h5 class="title-custom"><a href="/causes/{{campaignUrgent && campaignUrgent.id}}">{{campaignUrgent && campaignUrgent.title}}</a></h5>
                    <ul class="donate-info">
                      <li class="info-item">
                        <span class="info-title">Mục tiêu:</span>
                        <span class="amount">${{campaignUrgent && campaignUrgent.targetAmount}}</span>
                      </li>
                      <li class="info-item">
                        <span class="info-title">Hiện tại:</span>
                        <span class="amount">${{campaignUrgent && campaignUrgent.currentAmount}}</span>
                      </li>
                    </ul>
                    <!-- Start Progress Item -->
                    <form>
                      <div class="amount-info">
                        <div class="donate-amount">$20</div>
                        <div class="donate-amount">$35</div>
                        <div class="donate-amount">$48</div>
                        <div class="donate-amount me-0">$90</div>
                        <div class="donate-amount donate-custom-amount">
                          <input class="form-control" type="text" placeholder="Số tiền ủng hộ">
                        </div>
                      </div>
                      <a class="btn-theme btn-gradient btn-slide" routerLink="/payment/{{campaignUrgent && campaignUrgent.id}}"><span>Quyên góp <img
                            class="icon icon-img" src="assets/img/icons/arrow-line-right2.png" alt="Icon"></span></a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Causes Area ==-->
</main>
