<main class="main-content site-wrapper-reveal">
  <!--== Start Page Title Area ==-->
  <app-page-title-area [name]="'Chi tiết chiến dịch'"></app-page-title-area>
  <!--== End Page Title Area ==-->

  <!--== Start Causes Area ==-->
  <section class="causes-details-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="causes-details-column">
            <div class="causes-details-content">
              <div class="causes-details">
                <div class="thumb">
                  <img class="w-100" src="{{campaign && campaign.image}}" alt="Image-Givest">
                </div>
                <h3 class="cause-title">{{campaign && campaign.title}}</h3>
                <div class="cause-description">{{campaign && campaign.description}}</div>
                <div class="cause-start-date">{{campaign && campaign.startDate}}</div>
                <br>
                <!-- **Tab here** -->
                <app-tabs>
                  <app-tab [tabTitle]="'Câu chuyện'">
                    <div class="donate-info-wrp">
                      <div class="row">
                        <div class="col-md-6">
                          <ul class="donate-info">
                            <li class="info-item">
                              <span class="info-title">Mục tiêu:</span>
                              <span class="amount">$ {{campaign && campaign.targetAmount}}</span>
                            </li>
                            <li class="info-item">
                              <span class="info-title">Hiện tại:</span>
                              <span class="amount">$ {{campaign && campaign.currentAmount}}</span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6"></div>
                      </div>
                    </div>
                    <div [innerHTML]="campaign && campaign.detail"></div>
                  </app-tab>

                  <app-tab [tabTitle]="'Danh sách quyên góp'">
                    <div class="donners-info">
                      <app-list-sponsor></app-list-sponsor>
                    </div>
                  </app-tab>
                  <app-tab [tabTitle]="'Bài viết'">
                    <app-post-article></app-post-article>
                    <!--Main layout-->
                  </app-tab>
                </app-tabs>
                <!-- **Tab here** -->
              </div>


            </div>
            <div class="sidebar-area">
              <div class="widget bdr-10 p-30">
                <h3 class="widget-title">Thông tin quyên góp</h3>
                <div class="separator-line">
                  <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
                </div>
                <div>
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="donate-info">
                        <li class="info-item">
                          <span class="info-title">Mục tiêu:</span>
                          <span class="amount"> ${{campaign && campaign.targetAmount}}</span>
                        </li>
                        <li class="info-item">
                          <span class="info-title">Hiện tại:</span>
                          <span class="amount"> ${{campaign && campaign.currentAmount}}</span>
                        </li>
                      </ul>
                      <a class="btn-theme btn-gradient btn-slide"
                        routerLink="/payment/{{campaign && campaign.id}}"><span>Quyên góp <img class="icon icon-img"
                            src="assets/img/icons/arrow-line-right2.png" alt="Icon"></span></a>
                    </div>
                    <div class="col-md-6"></div>
                  </div>
                </div>
              </div>
              <div class="widget bdr-10 p-30">
                <h3 class="widget-title">Đồng hành cùng dự án</h3>
                <div class="separator-line">
                  <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
                </div>
                <div class="widget-category">
                  <div class="row">
                    <div class="col-md-4">
                      <img alt="givest" style="width: 100%"
                        src="{{campaign && campaign.sponsor && campaign.sponsor.image}}">
                    </div>
                    <div class="col-md-8">
                      <h6 style="font-size: 16px">{{campaign && campaign.sponsor && campaign.sponsor.name}}</h6>
                      <p style="font-size: 12px; color: #8d8d8d" class="des-sponsor">{{campaign && campaign.sponsor &&
                        campaign.sponsor.description}}</p>
                    </div>

                  </div>
                </div>
              </div>
              <div class="widget bdr-10 p-30">
                <h3 class="widget-title">Danh mục quyên góp</h3>
                <div class="separator-line">
                  <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
                </div>
                <div class="widget-category">
                  <a *ngFor="let c of categories" href="/causes?categoryId={{c.id}}">{{c.name}}</a>
                </div>
              </div>
              <div class="widget bdr-10 p-30">
                <h3 class="widget-title">Khẩn cấp</h3>
                <div class="separator-line">
                  <img class="me-1" src="assets/img/shape/line-t2.png" alt="Image-Givest">
                </div>
                <div class="widget-causes-item">
                  <div class="thumb">
                    <img src="{{campaignUrgent && campaignUrgent.image}}" alt="Givest-HasTech">
                  </div>
                  <div class="content">
                    <h5 class="title-custom"><a href="/causes/{{campaignUrgent && campaignUrgent.id}}">{{campaignUrgent
                        && campaignUrgent.title}}</a>
                    </h5>
                    <ul class="donate-info">
                      <li class="info-item bdr-8">
                        <span class="info-title">Mục tiêu:</span>
                        <span class="amount">${{campaignUrgent && campaignUrgent.targetAmount}}</span>
                      </li>
                      <li class="info-item bdr-8">
                        <span class="info-title">Hiện tại:</span>
                        <span class="amount">${{campaignUrgent && campaignUrgent.currentAmount}}</span>
                      </li>
                    </ul>
                    <div class="row">
                      <p class="col-md-6" style="margin: 0">
                        <span style="font-weight: 600">Bắt đầu: </span>
                        <span>{{handlerDateTime(campaignUrgent && campaignUrgent.startDate)}}</span>
                      </p>
                      <p class="col-md-6" style="margin: 0;">
                        <span style="font-weight: 600">Kết thúc: </span>
                        <span>{{handlerDateTime(campaignUrgent && campaignUrgent.endDate)}}</span>
                      </p>
                    </div>
                    <!-- Start Progress Item -->
                    <hr>
                    <div class="text-center pb-3">
                      <a class="btn btn-success mr-10" style="background: #fc6539; border: none"
                        href="/causes/{{campaignUrgent && campaignUrgent.id}}">Chi tiết</a>
                      <a class="btn btn-success " style="background: #fc6539; border: none"
                        href="/payment/{{campaignUrgent && campaignUrgent.id}}">Quyên góp</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--== End Causes Area ==-->
</main>